@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
body {
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: url(https://josetxu.com/img/fondo_blanco.png) repeat 0 0 #fff;
}

.materias h1, .materias h2 {
  color: #000;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 0.5em;
  margin: 0 0 5% 0;
  font-family: 'Rammetto One', cursive;
}

.materias .cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.materias .cardBox:hover .card {
  transform: rotateY(180deg);
}

.materias .card {
  font-family: 'Rammetto One', cursive;
  background: none;
  cursor: default;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.materias .card p {
  margin-bottom: 1.8em;
}

.materias .card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: black;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.materias .card .front strong {
  background: #fff;
  border-radius: 100%;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.materias .card .back {
  transform: rotateY(180deg);
}

.materias .card .back a {
  color: black;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.materias .card .back a:hover {
  background: #fff;

  text-shadow: 0 0 1px #333;
}

.materias .cardBox:nth-child(1) .card .back {
  background: none;
}

.materias .cardBox:nth-child(2) .card .back {
  background: none;
}

.materias .cardBox:nth-child(3) .card .back {
  background: none;
}


.materias .cardBox:nth-child(1) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

.materias .cardBox:nth-child(2) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

.materias .cardBox:nth-child(3) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .materias .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .materias .card {
    height: 285px;
  }
  .materias .cardBox:last-child {
    margin-bottom: 3%;
  }
  .materias h1{
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .materias .cardBox {
    width: 50.5%;
  }
  .materias .card {
    height: 260px;
  }
  .materias h1{
    font-size: 25px;
  }
}

/*Unidades*/

.unidades .unidadB{
  background: none;
}

.unidades h1, .unidades h2{
  color: #000;
  text-align: center;
  margin: 0 0 5% 0;
  margin: 0 0 5% 0;
  font-family: 'Rammetto One', cursive;
}

.unidades .unidadCenter{
  text-align: center;
  justify-items: center;
}

.unidades img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5em;
}
